{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="w-full mx-auto px-14 py-14 flex justify-between items-center">
    <div class="w-1/2">
        <form action="" method="POST" enctype="multipart/form-data" class="first:-mt-4">
            {% csrf_token %}
            {% for f in form %}
            <div class="mt-4">
                {{f}}
            </div>
            {% endfor %}
            <button type="submit" class="w-full mt-5 text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 text-center">Edit</button>
        </form>
    </div>
    <div class="w-1/2 text-center">
        <h1 class="text-7xl">Edit Doctor</h1>
    </div>
</div>
{% endblock %}