{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="">


    <div class="w-1/4 mx-auto text-center">
        <h1 class="text-3xl">Change password</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="text-red-600">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="mt-4 w-full">
                {{f}}
            </div>
            <div class="text-red-600">{{f.errors}}</div>
            {% endfor %}
            <button type="submit" class="w-full mt-5 text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 text-center">Change Password</button>
        </form>
    </div>

</div>


{% endblock %}