{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="w-1/4 mx-auto text-center">
    <h1 class="text-3xl">Email confirmation</h1>
    <p class="mt-4">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>


{% endblock %}