{% extends 'base.html' %}
{% load usertags %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="max-w-screen-xl mx-auto p-4">
    <div class="flex justify-between border-double border-b-4 border-gray-700 pb-4">
        {% if request.META.HTTP_REFERER and request.build_absolute_uri != request.META.HTTP_REFERER%}
        <a class="content-center" href="{{request.META.HTTP_REFERER}}">⭠Back</a>
        {% else %}
        <a class="content-center" href="{% url 'main' %}">⭠Back</a>
        {% endif %}
        <button type="button" class="text-white bg-gray-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 text-center">Visit</button>
    </div>
    {% if profile.doctor %}
    <h1 class="text-3xl text-center mt-10">User as a Doctor</h1>
    {% else %}
    <h1 class="text-3xl text-center mt-10">User</h1>
    {% endif %}
    <div class="my-12">
        <div class="bg-gray-100 rounded-xl flex items-center justify-between p-4">
            <div class="flex items-center">
                <img width="100px" src="{{profile.photo.url}}" alt="" class="w-[100px] h-[100px] object-cover object-top rounded-full border border-gray-700">
                <div class="ml-6">
                    <h1 class="text-2xl">{{profile.get_full_name}} ({{profile.username}})</h1>
                    <div class="bg-gray-200 inline-block rounded-xl px-2">{{profile.email}}</div>
                </div>
            </div>
            <div class="space-x-4">
                {% if profile|has_group:'Doctors' and not profile.doctor %}
                <a href="{% url 'doctor_add' %}" class="underline">Add doctor</a>
                {% endif %}
                <a href="{% url 'users:password_change' %}" class="underline">Change password</a>
            </div>
        </div>
    </div>
    <!-- Appointment -->
    <div id="appointment_list">
        {% include 'doctor/partials/appointment_list.html' %}
    </div>
    <!-- Doctor -->
    {% if profile.doctor %}
    <h1 class="text-xl mt-10">User's Doctor</h1>
    <div class="my-3">
        <div class="group bg-gray-100 rounded-xl flex items-center justify-between p-4 hover:bg-gray-700 hover:text-white">
            <div class="flex items-center">
                <img src="{{profile.doctor.image.url}}" alt="" class="w-[100px] h-[100px] object-cover object-top rounded-full border border-gray-700">
                <div class="ml-6">
                    <h1 class="text-2xl">{{profile.doctor.name}} {{profile.doctor.surname}} ({{profile.doctor.number}}) {{profile.doctor.age}} y.o.</h1>
                    <p>Experience: {{profile.doctor.experience}}</p>
                    <div class="bg-gray-200 inline-block rounded-xl px-2 group-hover:bg-gray-600">{{profile.doctor.specialty}}</div>
                </div>
            </div>
            <div class="space-x-4">
                <a href="{% url 'doctor_detail' profile.doctor.slug %}" class="underline">Detail</a>
                <a href="{% url 'doctor_edit' profile.doctor.slug %}" class="underline">Edit</a>
            </div>
        </div>
    </div>
    {% if profile.notification %}
    <div>
        <h1 class="text-xl mt-10">Notifications</h1>
        {% for n in profile.notification.all %}
        <a href="{{profile.notification.get_absolute_url}}">
            {% if n.is_read %}
            <div class="my-3 p-2 bg-gray-100 rounded-xl flex justify-between">
            {% else %}
            <div class="my-3 p-2 bg-blue-600 text-white rounded-xl flex justify-between">
            {% endif %}
                <div>{{n.message}}</div>
                <div class="text-gray-400">{{n.time_create|date:'d M Y - H:i'}}</div>
            </div> 
        </a>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}